[transport-udp]
type=transport
protocol=udp
bind=0.0.0.0:5060

[1001]
type=endpoint
context=internal
disallow=all
allow=ulaw,alaw,g722
auth=auth1001
aors=1001
callerid="Alice Martin" <1001>

[auth1001]
type=auth
auth_type=userpass
username=1001
password=VOTRE_MOT_DE_PASSE

[1001]
type=aor
max_contacts=2
remove_existing=yes

[1002]
type=endpoint
context=internal
disallow=all
allow=ulaw,alaw,g722
auth=auth1002
aors=1002
callerid="Bob Dupont" <1002>

[auth1002]
type=auth
auth_type=userpass
username=1002
password=VOTRE_MOT_DE_PASSE

[1002]
type=aor
max_contacts=2
remove_existing=yes
